@import '../../../asset/common';

.eventBadge {
    .info {
        .typeCol {
            svg {
                font-size: 16px;
                margin-right: 7px;

                &.alarm {
                    color: $alarm;
                }

                &.fault {
                    color: $fault;
                }
            }
        }

        .statusCol {
            text-align: right;

            &.active {
                color: $fault;
            }

            &.processing {
                color: $alarm;
            }

            &.resolved {
                color: $normal;
            }

            &.unconfirmed {
                color: $offline;
            }
        }
    }
}
