@import '../../asset/common.scss';

.siteDetailPage {
    .innerBarWatt {
        p {
            margin-bottom: 0;
            color: $FADING_NIGHT;

            &.description {
                font-size: 13px;
                margin-bottom: -7px;
                opacity: 0.7;
            }

            &.currentPower {
                font-size: 27px;
                font-weight: bold;
            }

            &.unitPower {
                opacity: 0.7;
                margin-top: -7px;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    .siteBody {
        .navContain {
            .nav {
                display: block;
                overflow: auto;
                white-space: nowrap;

                .nav-item {
                    display: inline-block;
                    font-weight: 500;

                    .nav-link {
                        color: $FADING_NIGHT !important;
                        position: relative;

                        &.active  {
                            &:after {
                                position: absolute;
                                content: '';
                                width: 50%;
                                height: 4px;
                                bottom: 0;
                                left: 1rem;
                                background-color: $FADING_NIGHT;
                            }
                        }
                    }

                }
            }
        }
    }
}