@import '../../asset/common.scss';

.candyLayout {
    height: 100%;
    flex-flow: column;
    display: flex;

    > div {
        flex: 0;

        &.headerLayout {
            .MuiSvgIcon-root {
                margin-top: 14px;
                color: $primaryText;
                opacity: 0.7;
            }
        }

        &.statusLayout {
            margin-top: 10px;

            .header {
                font-weight: bold;
                font-size: 20px;
            }
        }

        &.topNavBar {
            display: flex;
            border-bottom: 1px solid $UNICORN_SILVER;

            > div {
                flex: 1;
                text-align: center;
                color: $secondaryText;
                font-size: 14px;
                padding-bottom: 5px;

                &.isSelected {
                    color: $PHILIPPINE_ORANGE;
                    position: relative;

                    &:before {
                        content: '';
                        width: 50%;
                        display: block;
                        position: absolute;
                        border-bottom: 2px solid $PHILIPPINE_ORANGE;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }


        &.layoutBody {
            flex: 1;
            background-color: $UNICORN_SILVER;
        }
    }
}

#root {
    height: 100%;

    > div {
        height: 100%;
    }
}