@import '../../asset/common.scss';

.candyLayout {
    height: 100%;
    flex-flow: column;
    display: flex;

    > div {
        flex: 0;

        &.headerLayout {
            .MuiSvgIcon-root {
                margin-top: 14px;
                color: $primaryText;
                opacity: 0.7;
            }
        }

        &.layoutBody {
            flex: 1;
            padding-bottom: 65px;
        }
    }
}

#root {
    height: 100%;

    > div {
        height: 100%;
    }
}