@import '../../asset/common.scss';

.freshestLayout {
    height: 100%;
    flex-flow: column;
    display: flex;

    > div {
        flex: 0;

        &.layoutBody {
            flex: 1;
        }
    }

    .headerLayout {
        > .MuiSvgIcon-root {
            position: absolute;
            margin-top: 14px;
            color: $primaryText;
            opacity: 0.7;
            z-index: 10;
            left: 15px;
        }
    }

    .navbar {
        width: 100%;
        padding-bottom: 0;
        display: flex;

        .navbar-brand {
            color: $primaryText;
            font-weight: bold;
            font-size: 18px;
            opacity: 0.9;
        }

        .navbar-collapse {
            flex: 1;
            text-align: right;
            color: $PHILIPPINE_ORANGE;
        }
    }
}

.logoutModal {
    .MuiDialog-paper {
        padding: 20px 40px;

        h2 {
            text-align: center;
        }

        button {
            display: block;
            width: 100%;
            margin: 10px 0;
            min-width: 150px;

            &.btn-primary {
                background-color: $PHILIPPINE_ORANGE;
                border: none;
            }

            &.btn-outline-primary {
                border-color: $PHILIPPINE_ORANGE;
                color: $PHILIPPINE_ORANGE;
            }
        }
    }
}