@import '../../asset/common.scss';

.loginPage {
    .loginBody {
        margin-top: 30px;

        .loginForm {
            width: 100%;
            padding: 20px;

            img {
                display: block;
                max-width: 60%;
                border-radius: 100%;
                margin: 5px auto 20px;
            }

            .form-group {
                margin-bottom: 7px;

                input {
                    border: none;
                    border-radius: 0;
                    border-bottom: 1px solid $DARK_SOULS;
                    font-weight: 500;

                    &::placeholder {
                        color: $DARK_SOULS;
                        opacity: 0.8;
                        font-weight: 400;
                    }
                }
            }

            button {
                margin-top: 10px;
                width: 100%;
                //font-weight: 500;
                background-color: $PHILIPPINE_ORANGE;
                border: none !important;
                border-radius: 5px;
            }
        }
    }
}