@import '../../asset/common.scss';

.loginPage {
    .loginBody {
        margin-top: 30px;

        form {
            width: 100%;
            padding: 20px;

            img {
                display: block;
                max-width: 60%;
                border-radius: 100%;
                margin: 5px auto 20px;
            }

            .MuiFormControl-root {
                width: 100% !important;
                margin-bottom: 7px;

                .Mui-checked {
                    color: $PHILIPPINE_ORANGE;
                }

                .MuiFormControlLabel-root {
                    margin-bottom: 0;
                }
            }

            .errorText {
                font-size: 13px;
            }

            button {
                &.btn-primary {
                    margin-top: 10px;
                    width: 100%;
                    //font-weight: 500;
                    background-color: $PHILIPPINE_ORANGE;
                    border: none !important;
                    border-radius: 5px;
                }

                &.btn-link {
                    font-size: 13px;
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
    }
}

.registerModal {
    .MuiDialog-paper {
        p {
            font-weight: bold;
        }

        button {
            background-color: $PHILIPPINE_ORANGE;
            border: none;
        }

        padding: 20px;
    }
}