@import '../../asset/common.scss';

.siteChart {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px $UNICORN_SILVER;

    .headerChart {
        margin: 10px 15px 0 15px;
        font-weight: 500;
        color: $FADING_NIGHT;
        vertical-align: bottom;
        position: relative;

        .title {
            font-size: 20px;
        }

        .unit {
            position: absolute;
            right: 0;
            bottom: 0;
            opacity: 0.7;
            font-size: 12px;
        }
    }

}