@import '../../asset/common.scss';

.siteChart {
    width: 100%;
    margin-top: 7px;
    background-color: white;

    .timeTypeSelector {
        display: flex;
        margin-top: 10px;
        width: 100%;

        > div {
            font-size: 14px;
            flex: 1;
            text-align: center;
            color: $secondaryText;

            &.isSelected {
                color: $PHILIPPINE_ORANGE;
                padding-bottom: 6px;
                position: relative;

                &:before {
                    content: '';
                    width: 50%;
                    display: block;
                    position: absolute;
                    border-bottom: 3px solid $PHILIPPINE_ORANGE;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .timePick {
        width: 100%;
        margin-top: 10px;
        padding: 1px 15px;
        display: flex;

        > div {
            flex: 0;

            &.disable {
                color: $UNICORN_SILVER;
            }
        }

        .MuiFormControl-root {
            flex: 1;

            .MuiInputBase-root {

                &:before {
                    border: none;
                }

                &:after {
                    border: none;
                }

                input {
                    color: $primaryText;
                    text-align: center;
                    font-size: 15px;
                }
            }
        }
    }

    .chart {
    }

}