@import '../../asset/common.scss';

.freshFilter {
    width: 100%;

    .dropdown {
        button {
            opacity: 0.9;
            width: 100%;
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
            font-size: 14px;
            color: $secondaryText !important;

            &:after {
                margin-left: 7px;
                border-top: .3em solid $secondaryText;
                border-right: .3em solid transparent;
                border-bottom: 0;
                border-left: .3em solid transparent;
            }
        }

        .dropdown-menu {
            width: 100%;
            border-radius: 0;
            border: none;
            border-top: 1px solid $UNICORN_SILVER;
            padding: 0;

            a {
                text-align: center;
                margin-top: 5px;
                width: 100%;
                color: $primaryText;
                border-bottom: 1px solid $UNICORN_SILVER;
            }
        }
    }
}