@import '../../asset/common';

.customBadge {
    min-height: 80px;
    margin-top: 10px;
    color: $primaryText;
    position: relative;
    border-bottom: 1px solid $UNICORN_SILVER;

    .badgeBody {
        p {
            margin-bottom: 0;
        }

        .header {
            p {
                font-weight: bold;
                font-size: 15px;
                margin-top: 2px;
                margin-bottom: 3px;
            }
        }

        .info {
            font-size: 13px;
            color: $secondaryText;
            display: grid;
        }
    }
}
