@import '../../asset/common';

.customBadge {
    padding: 10px 0;
    color: $primaryText;
    background-color: white;
    display: flex;

    .badgeAvatar {
        flex: 0;
    }

    .badgeBody {
        flex: 1;
        padding-bottom: 7px;
        border-bottom: 1px solid $UNICORN_SILVER;

        p {
            margin-bottom: 0;
        }

        .header {
            p {
                font-weight: bold;
                font-size: 15px;
                margin-top: 2px;
                margin-bottom: 3px;
            }
        }

        .info {
            font-size: 13px;
            color: $secondaryText;
            display: grid;
        }
    }
}
