@import '../../asset/common.scss';

.deviceBadge {
    .deviceAvatar {
        display: block;
        margin-right: 7px;
        margin-top: 10px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: $normal;

        &.alarm {
            background-color: $alarm;
        }

        &.fault {
            background-color: $fault;
        }

        &.offline {
            background-color: $offline;
        }
    }
}
