// Dark theme
$dp00: #121212;
$dp01: #1D1D1D;
$dp02: #212121;
$dp03: #242424;
$dp04: #272727;
$dp06: #2C2C2C;
$dp08: #2D2D2D;
$dp12: #323232;
$dp16: #353535;
$dp24: #373737;

// Text
$primaryText: #fafafa;
$secondaryText: #A4A4A4;

// Accent color
$ap50: #292929;
$ap100: #DBB2FF;
$ap200: #BB86FC;
$dp300: #985EFF;

$seekerColor: #D32F2F;

// Color
$bg1: #F2F2F2;
$bg2: #e2e2e2;

$bgDanger: #c15d5d;

$LAKE_THUN: #47bede;
$KIKORANGI_BLUE: #344bc4;
$FADING_NIGHT: #317ad4;
$SUNBURST: #fac187;
$BEER: #f7891b;
$SKIRRET_GREEN: #54c242;
$STADIUM_LAWN: #99ff5e;
$REDDISH: #c44343;
$FUSION_RED: #ff5e5e;

$DARK_SOULS: #a3a3a3;
$UNICORN_SILVER: #e8e8e8;
$MORE_THAN_A_WEEK: #8d8d8d;
$SILVER_POLISH: #c6c6c6;

// Screen
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1200px;

$max-width: 1366px;