@import '../../asset/common';

.sitesList {

    .headerLayout {
        .navbar-brand {
            color: $PHILIPPINE_ORANGE;
        }
    }

    .sitesBody {
        width: 100%;

        .filterRow {
            border-bottom: 1px solid $UNICORN_SILVER;
        }

        .sitesRow {
            background-color: $UNICORN_SILVER;
        }
    }
}